.season-minis .section-minis {
  padding: 32px;
  background: #484848;
  max-height: max-content;
}

.season-minis .season-mini-icon {
  margin-right: 16px;
  margin-top: 4px;
  margin-bottom: auto;
}

.season-minis .list-item {
  border-bottom: 1px solid #747474;
}

.season-minis .section-seasons .seasons-cta svg {
  width: 18px;
  height: 13px;
  margin-right: 8px;
}

.season-minis .section-seasons .seasons-cta {
  color: #191919 !important;
  margin-left: 12px;
}

.season-minis .section-minis a {
  color: #191919 !important;
}

.season-minis.season-minis-mobile .row {
  display: inline;
}
